//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$black-hover:#1f2122;
$red: #e35028;
$red-hover: #c1401e;
$white: #fff;
$grey:#575757;

$z-fixed-menu: 100;

//normalize
@import "_must/normalize.scss";

// setups
@import "_must/media";
@import "_must/fonts";
@import "_must/layout";

// blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-order, order";
@import "blocks/promo";
@import "blocks/menu.scss";
@import "blocks/team.scss";
@import "blocks/delivery.scss";
@import "blocks/contacts.scss";
@import "blocks/about.scss";
@import "blocks/reviews";
@import "blocks/fixed-menu";
@import "blocks/form";

