.about{
    background: url('../img/about/bg.png') center center no-repeat;
    background-size: cover;
}

.about__content{
    margin-top: 12%;
}
.about__list{
    display: flex;
    justify-content: space-evenly;
    @include phones{
        flex-direction: column;
    }
}
.about__item{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include phones{
        margin-top: rem(20px);
        width: 95%;
        flex-direction: row;
    }

}
.about__desc{
    @include phones{
        margin-left: rem(31px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
.about__icon{
    height: rem(100px);
    width: rem(100px);
    min-width: 50px;

}
.about__name,.about__text{
    padding-top: rem(30px);
    text-align: center;
    @include phones{
        padding-top: rem(10px);
        text-align: left;
    }
}
.about__name{
    font-size: 3vh;
    @include lifehack();
    font-weight: 500;
}
.about__text{
    @include ubuntu();
    font-size: 1.6vh;
}
.about__title{
    text-align: center;
    color: $black;
}