.fullscreen-menu{
  position: absolute;
  top: 0;
  background-color: #313334;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: space-between;
  z-index: 1000;
}
.fullscreen-menu__container{
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
}
.fullscreen-menu__closer{
  display: flex;
  justify-content: flex-end;
}
.fullscreen-menu__logo,.fullscreen-menu__list,.fullscreen-menu__closer{
  width: 28%;
}

.fullscreen-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fullscreen-menu__link {
  @include ubuntu();
  text-decoration: none;
  font-weight: bold;
  color: $white;
  font-size: 14px;
  text-transform: uppercase;
}
.fullscreen-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:15px;
  width: auto;
  text-align: center;

  &:after {
    content: "";
    width: rem(4px);
    height: rem(4px);
    background-color: $white;
    border-radius: 50%;
    display: flex;
    margin-top: 15px;
  }

  &:nth-last-child(1) {
    &:after {
      display: none;
    }
  }
}
.fullscreen-menu__close{
  width: 20px;
  height: 20px;
  background-image: url('../../img/cross.png');
  font-size:0px;
}