.header {
  width: 95%;
  padding-top: 12px;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  margin-left: 15px;
}
.logo{
  height: 70px;
  width: 100px;
}
