.order--button, .order {
  padding: 12px 15px;
  border-radius: 5px;
  background-color: $red;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 13px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  &:hover{
    background-color: $red-hover;
  }
  &:after {
    content: "";
    display: none;
  }
}
