.nav{
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 1.5vh;
  width: auto;

  &:after {
    content: "";
    width: rem(4px);
    height: rem(4px);
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin-left: 1.5vh;
  }

  &:nth-last-child(2) {
    &:after {
      display: none;
    }
  }

  @include tablets{
    display: none;
  }
}

.nav__link {
  @include ubuntu();
  text-decoration: none;
  font-weight: bold;
  color: $white;
  font-size: 1vw;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .nav__link {
     font-size: 13px;
  }
}
.nav__fullmenu{
  margin-left: 20px;
  height: 24px;
  width: auto;
  display: none;
  @include tablets{
    display: flex;
  }
}
.hamburger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger__line{
  width: 24px;
  height: 4px;
  border: 1px solid $white;
  border-radius: 3px;
  background-color: $white;
}